.devices {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 400px 400px;
  gap: 10px;
}

.deviceBox {
    /* background-color: beige; */
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.title {
}

.controlBox {
}

.controlBoxTitle {
}
